.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.gallery__item {
  flex: 1 1 calc(33.333% - 32px);
  max-width: 320px;
  overflow: hidden;
  border-radius: 12px;
}

.gallery__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

